body {
    background-color: #214451;
    background-image: url('./background.png');
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: teko;
    font-style: italic;
    /* Set some global variables to make color consistency easier */
    --pink-gradient: linear-gradient(to bottom right, #ec70c9, #ad418f);
    --pink-transparent: linear-gradient(to left, #ec70c9, rgba(0,0,0,0));
    --blue-transparent: linear-gradient(to right, #00bdfa, 80%, rgba(0,0,0,0));
    --light-pink: #d746ae;
    --dark-pink: #71406a;
}

@font-face {
    font-family: teko;
    src: url(Teko-Medium.ttf);
}

/* Configure a loading spinner screen */
@keyframes loadingIntro {
    from { opacity: 0%;}
    to { opactiy: 100%;}
}

.loadingBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    animation: loadingIntro .5s ease 0s 1 forwards;
    z-index: 100;
}

.noLoad {
    display: none;
}

@keyframes loadingAnimation {
    from { rotate: 0deg;}
    to {rotate: 360deg;}
}

.loadingSpinner {
    width: 5em;
    height: 5em;
    margin-left: calc(50vw - 2.5em);
    margin-top: calc(50vh - 2.5em);
    animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: invert(36%) sepia(86%) saturate(766%) hue-rotate(273deg) brightness(95%) contrast(96%);
}

/* Set up styling for the formConfig */
.formConfig {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    z-index: 100;
    /* The animation for the loading screen can be reused here */
    animation: loadingIntro .25s ease 0s 1 forwards;
}

@keyframes formPopup {
    0% { top: calc(50% - 10vh) }
    100% { top: calc(50% - 22vh) }
}

.formPanel {
    position: fixed;
    width: 25em;
    height: 40vh;
    padding: 2em;
    left: calc(50% - 14.5em);
    top: calc(50% - 22vh);
    background-color: #373f4a;
    transform: skew(-10deg);
    border-radius: .25em;
    overflow-y: scroll;
    text-align: center;
    animation: formPopup .5s ease 0s 1 forwards;
}

.formPanel form {
    text-align: center;
    color: white;
    font-style: normal;
    font-size: larger;
}

.formPanel .standardButton {
    padding: .5em;
}

.formPanel form input[type=submit]:hover {
    background-image: linear-gradient(to top, var(--light-pink), rgba(0,0,0,0));
}

/* Set up standard button styling for the whole page */

.standardButton {
    background-color: rgba(0, 0, 0, .25);
    color: white;
    border: none;
    border-bottom: 2px solid #556c74 ;
    border-radius: .25em;
    font-family: teko;
    /*TMP*/
    background-image: linear-gradient(to top, var(--light-pink), 50%, rgba(0,0,0,0), 100%, rgba(0,0,0,0));
    background-size: 100% 200%;
    background-position: 0% -25%;
    background-repeat: no-repeat;
    transition: .2s;
}

.standardButton:hover {
    background-position: 0% 100%;
    transition: .2s;
    background-image: linear-gradient(to top, var(--light-pink), 50%, rgba(0,0,0,0), 90%, rgba(0,0,0,0));
}

.transparentButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.transparentButton img, .standardButton img {
    filter: invert();
    transition: .1s;
}

.transparentButton img:hover {
    filter: invert(36%) sepia(86%) saturate(766%) hue-rotate(273deg) brightness(95%) contrast(96%);
    transition: .1s;
}

/* Panel background styling */

.configPanel {
    background-color: rgba(0, 0, 0, .25);
    width: 40%;
    max-width: 30em;
    height: calc(100vh - 2em);
    padding: 2em;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

/* Logo Sytling */
.logo {
    width: 100%;
}

/* Style the color inputs */

input[type=color] {
    transform: skew(-15deg);
    border: none;
    height: 3em;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, .25);
    transition: .2s;
}

input[type=color]:hover { background-color: var(--light-pink); transition: .2s; }

#colorTwo { margin-left: .5em}

/* Style the wrapper list */

.wrapper {
    display: flex;
    margin-bottom: 1em;
    height: 2.5em;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    background-color: rgba(0, 0, 0, .25);
    transform: skew(-10deg);
    border-radius: .25em;
    font-size: large;
    font-style: normal;
}

/* Style the "Scan for lights" button */

.scanButton {
    width: 100%;
    height: 2.5em;
    transform: skew(-10deg);
    font-size: larger;
}

/* Style the light objects */

.light {
    background-color: rgba(0, 0, 0, .25);
    padding: 1em;
    border-radius: .5em;
    transform: skew(-5deg);
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
}

.light * {
    margin-bottom: .5em;
}

.lightCheckboxes input[type=checkbox] { display: none; }

.lightCheckboxes label {
    background-color: rgba(0, 0, 0, .25);
    color: white;
    border: 1px solid #556c74 ;
    border-radius: .25em;
    font-family: teko;
    padding: .25em;
    transition: .2s;
}

.lightCheckboxes label:hover {
    background-color: var(--dark-pink);
    transition: .2s;
}

.lightCheckboxes input[type=checkbox]:checked + label {
    background-image: linear-gradient(to top, var(--light-pink), rgba(0,0,0,0));
}

.lightCheckboxes {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.light input[type=number] {
    background-color: rgba(0, 0, 0, .25);
    color: white;
    border: 1px solid #556c74 ;
    border-radius: .25em;
    font-family: teko;
    width: calc(100% - .5em);
    font-size: larger;
    padding: .25em;
}

.lightHeader {
    display: flex;
    justify-content: space-between;
}