.library {
    float: right;
    color: white;
    /* 30em configuration panel + 2em padding on each side of panel + 2em padding on each side of library = 38em */
    min-width: calc(100vw - 38em);
    max-width: calc(60% - 8em);
    padding: 2em;
}

/* Style the "your songs" header and button */
.library .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library .header button {
    font-size: larger;
    height: 2em;
    transform: skew(-10deg);
}

/* Style the song box container */
.songs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 10em;
}

/* Style the music boxes */
.song {
    width: 25em;
    height: 6em;
    background-color: rgba(0, 0, 0, .25);
    padding: 1em;
    font-style: normal;
    border-radius: .25em;
    transform: skew(-10deg);
    margin-bottom: 2em;
}

.song button {
    width: 100%;
    margin-top: 1em;
}

.songHeader {
    display: flex;
    align-items: center;
    font-size: larger;
}

.song .songHeader img{
    width: 3em;
    height: 3em;
    margin-right: .5em;
    border-radius: .25em;
}

@keyframes nowPlayingIntro {
    from { right: -10em;}
    to { right: -1em;}
}

/* Style the now playing box */
.nowPlaying {
    width: 30em;
    height: 8em;
    color: white;
    background-image: var(--blue-transparent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    padding: 1em;
    font-style: normal;
    border-radius: .25em;
    transform: skew(-10deg);
    margin-bottom: 2em;
    position: fixed;
    bottom: 0em;
    right: -1em;
    animation: nowPlayingIntro .5s ease 0 1 forwards;
}

.nowPlaying button {
    width: 100%;
    margin-top: 1em;
}

.npHeader {
    display: flex;
    align-items: center;
    font-size: larger;
}


.npHeader img{
    width: 5em;
    height: 5em;
    margin-right: .5em;
    border-radius: .25em;
}